.maps.wrapper {
    position: relative;

    &:before {
        content: '';
        position: absolute; z-index: 12;
        top: 0; right: 0; bottom: 0; left: 0;
        background: #000;
        opacity: .6;
        transition: all .6s;
    }

    &.gainAccess {
        height: auto;
        opacity: .8;

        &:before {
            opacity: 0;
        }
    }


    .map {
        position: relative; z-index: 15;
        height: 500px;
        background: darkgray;
        transition: all .6s;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,.5);
    }

}
